body {
    background: goldenrod;
}

h1 {
    font-size: 20px;
    color: rebeccapurple;
    text-align: center;
    background: red;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    margin: 0 auto;
}